/* ------------------ WHOLE DOCUMENT ------------------ */
:root {
    --primary-color-light: #EEE1D1;
    --secondary-color-light: #F5C6B5;
    --primary-color-dark: #253822;
    --secondary-color-dark: #C1CB5B;

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary:  'Lora', serif;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-secondary);
    margin: 0;
}

body {
    background-color: var(--primary-color-light);
}

/* ------------------ HEADER ------------------ */
header {
    background-color: var(--secondary-color-light);
    display: flex;
    padding: 1em;
    align-items: center;
}

header h1, header h2 {
    color: var(--primary-color-dark);
    font-family: var(--ff-secondary);
    margin: 0;
}

header h1 {
    font-size: 50px;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

header h2 {
    font-size: 110%;
    font-family: var(--ff-primary);
    padding-left: 3em;
}

header img {
    padding-left: 2em;
}
/* ------------------ INDEX.HTML ------------------ */

/* ------------------ FOOTER ------------------ */