/* ------------------ WHOLE DOCUMENT ------------------ */
:root {
    --primary-color-light: #F1F2ED;
    --secondary-color-light: #a2ac82;
    --primary-color-dark: #2E2D1D;
    --secondary-color-dark: #5B6D49;
    --accent-color-dark: #0C3C01;

    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary:  'Montserrat', serif;
}

* {
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--primary-color-dark);
    margin: 0;
}

body {
    background-color: var(--primary-color-light);
}

body * { 
    color: var(--accent-color-dark);
}

/* ------------------ HEADER ------------------ */
header {
    background-color: var(--primary-color-dark);
    display: flex;
    padding: 1em;
    align-items: center;
}

header h1, header h2 {
    color: var(--secondary-color-light);
    font-family: var(--ff-secondary);
    margin: 0;
}

header h1 {
    font-size: 50px;
    padding-bottom: 25px;
    padding-left: 1em;
}

header h2 {
    font-size: 110%;
    font-family: var(--ff-primary);
    padding-left: 3em;
}

header img {
    padding-left: 2em;
    width: 100px;
}


/* ------------------ INDEX.HTML ------------------ */

.content {
    padding: 3em;
}

.how-to h1 {
    text-align: center;
    font-family: var(--ff-secondary);
    padding-bottom: 1em;
    font-size: 40px;
    color: var(--primary-color-dark);
}

.how-to {
    text-align: center;
}

.how-to-step {
    padding: 1em;
}

.how-to-step h2 {
    padding-bottom: 1em;
}

/* STEP 1 */

#step1-add, #step1-name {  
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 15px;
}

#step1-add:hover {  
    border: 1px solid var(--secondary-color-dark);
    background-color: var(--secondary-color-dark);
    color: var(--primary-color-light);
}

#step1-add:active {  
    background-color: var(--primary-color-dark);
}

/* STEP 2 */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-size: 15px;
}
/* ------------------ FOOTER ------------------ */